body {
    padding: 10px;
}

.listing {
    width: 100vw;
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr auto;
    background: #bedbed;
    padding: 1rem;
    margin-bottom: 1rem;
}

.listing-image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
