body {
    padding: 10px;
}

a {
    text-decoration: none;
    color: unset;
}
a:hover {
    text-decoration: none;
    color: unset;
}

.listing {
    width: 100vw;
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr auto;
    background: #bedbed;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.listing:hover {
    transform: scale(1.01);
}

.listing-image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
