{% extends "auctions/layout.html" %}

<!--  -->
{% block body %}
<h2>Active Listings</h2>
<br />
<!--  -->
{% for listing in listings %}
<!--  -->
<a href="{% url 'listing' listing.id %}">
    <article class="listing">
        <div class="listing-info">
            <!-- title, description, current price -->
            <h4>{{ listing.title }}</h4>
            <p>Current bid: ${{ listing.current_bid }}</p>
            <p>{{ listing.description }}</p>
        </div>
        <div class="listing-image-container">
            {% if listing.image %}
            <img src="{{ listing.image }}" alt="" />

            {% endif %}
        </div>
    </article>
</a>
<!--  -->
{% endfor %}
<!--  -->
{% endblock %}
